{% extends "base.html" %}

{% block content %}
<!-- Header-->
<header>
    <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-bs-ride="carousel" style="max-width: 1500px;">
        <!-- Slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://scontent.faqp7-1.fna.fbcdn.net/v/t31.18172-8/18738401_1268518579912056_9031656252354382830_o.jpg?stp=dst-jpg_p960x960&_nc_cat=108&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeFeKvvkmZGYkjvcQh3LUv21ccU791P0l41xxTv3U_SXjc9ay-WPD8d-UDeIluH4fjxFtAobeQlh_6zCpvZSqsVP&_nc_ohc=wHbBQBKiYIwAX_cHW0Q&_nc_ht=scontent.faqp7-1.fna&oh=00_AfBPh_rFzq0P9z7PhY8_Vjv4kS1BeSJfutaqWYhmemw6YQ&oe=64ED0CCA" class="d-block w-100" alt="Imagen 1" style="max-height: 500px;">
            </div>
            <div class="carousel-item">
                <img src="https://scontent.faqp7-1.fna.fbcdn.net/v/t31.18172-8/18673255_1268525616578019_303907124418695049_o.jpg?stp=dst-jpg_p960x960&_nc_cat=105&cb=99be929b-3346023f&ccb=1-7&_nc_sid=19026a&_nc_eui2=AeGIbBB-XMN1yXvrQMJFOwzPX6n1nE2YlBNfqfWcTZiUE3KdjngIJkUigSmt4r0b5Q4NRGxp7KvpgP7M2thGQhlv&_nc_ohc=Y_10Xd0YsTYAX9oX7WX&_nc_ht=scontent.faqp7-1.fna&oh=00_AfCAuTTdphASdDZ-opCQlg4byKuIByqnR6faXv9crGi86g&oe=64ED11E8" class="d-block w-100" alt="Imagen 2" style="max-height: 500px;">
            </div>
            <div class="carousel-item">
                <img src="https://scontent.faqp7-1.fna.fbcdn.net/v/t31.18172-8/18699519_1268539816576599_8855635339338888270_o.jpg?stp=dst-jpg_p960x960&_nc_cat=100&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHZZfhJp6AklCTL343vC6Xv2nAm_9L6YsTacCb_0vpixO-gIu6AwJwcbSdXYDM4k3VIXi6oQzdDANc_LwPfSpsf&_nc_ohc=iXY-zeL0jDgAX8Gzc9s&_nc_ht=scontent.faqp7-1.fna&oh=00_AfBdouA06t-0pQRm0WSiKwa9qTQC5bEzXfgTGHED1cVdFg&oe=64ECE949" class="d-block w-100" alt="Imagen 3" style="max-height: 500px;">
            </div>
        </div>
        <!-- Controles -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</header>

<!-- Section: Categorías -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h2>Categorías</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for categoria in categorias %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Categoría image -->
                    <img class="card-img-top" src="{{ categoria.imagen.url }}" alt="{{ categoria.nombre }}" />
                    <!-- Categoría details -->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Categoría name -->
                            <h5 class="fw-bolder">{{ categoria.nombre }}</h5>
                        </div>
                    </div>
                    <!-- Categoría actions -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="{% url 'shop:mostrar_categoria' categoria.id %}">Ver productos</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Section: Productos Destacados -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h2>Productos Destacados</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for producto in productos_destacados %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image -->
                    <img class="card-img-top" src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" />
                    <!-- Product details -->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name -->
                            <h5 class="fw-bolder">{{ producto.nombre }}</h5>
                            <!-- Product price -->
                            {% if producto.precio_descuento %}
                            <span class="text-muted text-decoration-line-through">{{ producto.precio }}</span>
                            {{ producto.precio_descuento }}
                            {% else %}
                            {{ producto.precio }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Product actions -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="{% url 'shop:mostrar_producto' producto.id %}">Ver detalles</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Footer-->
{% endblock %}