/* Estilos generales */

.dropdown-hover:hover .dropdown-menu {
    display: block;
}

.dropdown-menu.multi-column {
    columns: 2;
}

.dropdown-menu li.dropdown-header {
    font-weight: bold;
    text-transform: uppercase;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos del encabezado */

.navbar {
    background-color: #3F51B5 !important;
    /* Color azul cielo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    /* Color del texto en el encabezado */
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: #fff;
    /* Color del texto en el encabezado */
}

.navbar-nav .nav-link:hover {
    color: #e0e0e0;
    /* Color del texto al pasar el cursor por encima */
}

/* Estilo para el botón del carrito en el encabezado */
.btn-cart {
    background-color: #3F51B5;
    /* Color del botón */
    color: #fff;
    /* Color del texto en el botón */
}

/* Estilo para el botón de búsqueda en el encabezado */
.btn-search {
    background-color: #3F51B5;
    /* Color del botón */
    color: #fff;
    /* Color del texto en el botón */
}

/* Estilo para el botón de login en el encabezado */
.btn-custom-login {
    background-color: #3F51B5; /* Color del botón */
    color: #fff; /* Color del texto en el botón */
    border: 1px solid #3F51B5; /* Borde con color azul cielo */
    border-radius: 4px; /* Bordes redondeados */
    padding: 8px 16px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón por encima */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.btn-custom-login:hover {
    background-color: #f4f4f8; /* Color de fondo al pasar el cursor por encima */
    /* Puedes ajustar el color al que desees */
}

/* Estilos del pie de página */

footer {
    margin-top: auto;
}

footer a {
    color: #fff;
    /* Color del texto de los enlaces en el pie de página */
}

footer a:hover {
    color: #e0e0e0;
    /* Color del texto de los enlaces al pasar el cursor por encima */
}

/* Estilos del campo de búsqueda en el encabezado */

.input-group {
    position: relative;
}

.input-group input {
    border-radius: 4px;
    /* Bordes redondeados para el campo de búsqueda */
}

.input-group button {
    position: absolute;
    right: 0;
    top: 0;
}